html, body {
    background-color: black;
    font-family: sans-serif;
    margin: auto;
    padding: auto;
}



.logo {
    display: flex;
    align-items: flex-start;
}

.buttons {
    display: flex;
    align-items: center;
}